.button {
	position: relative;
	outline: none !important;
	border: none;
	cursor: pointer;
	text-decoration: none !important;
	background: none;
	appearance: none;
	transform: translateZ(0px);
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #2fc57c;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15),
		inset 0px -4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	text-align: center;
	color: #fff;
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	transition: all 0.2s ease-in-out;
	min-width: 100px;
	display: block;
	width: fit-content;

	padding: 14px 22px;
	svg {
		transition: all 0.3s ease-in-out;
	}
	&:hover,
	&:focus {
		box-shadow: none;
		opacity: 0.8;
		transform: translateY(-2px);
		svg {
			transform: translateX(3px);
		}
	}
	&.disabled,
	&:disabled {
		background-color: #e0e0f2;
		color: #3b2186;
	}
}
.btn:active {
	box-shadow: none;
	background-color: #1c2124;
}

.btn:active,
.btn:focus,
.btn:hover {
	text-decoration: none !important;
	outline: none !important;
}
