$breakpoints: (
	mobile-landscape: 568px,
	tablet: 768px,
	tablet-landscape: 1024px,
	desktop: 1200px,
	medium-desktop: 1440px,
	large-desktop: 1800px,
	ultra-desktop: 2400px,
);
$color-green: #2fc57c;
